/* ------------------------------ GOOGLE FONTS ------------------------------ */
@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic:wght@400;700;800&display=swap');

/* ------------------------------ Variables CSS ----------------------------- */
:root {
  --body-font: 'Nanum Gothic', sans-serif;

  /* --------------------------------- Colors --------------------------------- */
  --white-color: #ffffff;
  --black-color: #141414;
  --grey-color: #616161;
  --blue-color: #0336ff;
  --red-color: #b71c1c;

  /* --------------------------------- Brand Colors -------------------------------- */
  --primary-color: #3e6ef4;
  --secondary-color: #26a69a;
  --accent-color: #9c27b0;
  --positive-color: #21ba45;
  --negative-color: var(--red-color);
  --info-color: #31ccec;
  --warning-color: #f2c037;
  --dark-color: #1d1d1d;

  /* ------------------------------- Font Weight ------------------------------ */
  --font-weight-medium: 400;
  --font-weight-bold: 700;
  --font-weight-black: 800;

  /* ------------------------------- Typography ------------------------------- */
  --font-size-1: 2rem;
  --font-size-2: 1.75rem;
  --font-size-3: 1.5rem;
  --font-size-4: 1.25rem;
  --font-size-5: 0.938em;
  --font-size-6: 0.75em;

  /* --------------------------------- Margin --------------------------------- */
  --ms-1: 1rem;
  --ms-2: 2rem;
  --ms-3: 2.5rem;
  --ms-4: 3rem;
  --ms-5: 4rem;

  --header-height: 4.5rem;

  --box-shadow-1: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  --box-shadow-2: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
@media screen and (min-width: 768px) {
  :root {
    --font-size-1: 3.5rem;
    --font-size-2: 2.5rem;
    --font-size-3: 2rem;
    --font-size-4: 1.5rem;
    --font-size-5: 1rem;
    --font-size-6: 0.875rem;
  }
}

/* ---------------------------------- BASE ---------------------------------- */
body {
  font-family: var(--body-font);
  color: var(--black-color);
  margin-top: var(--header-height);
}

/* ---------------------------------- FONTS --------------------------------- */
.font-weight-medium {
  font-family: var(--body-font);
  font-weight: var(--font-weight-medium);
  font-style: normal;
}

.font-weight-bold {
  font-family: var(--body-font);
  font-weight: var(--font-weight-bold);
  font-style: normal;
}

.font-weight-black {
  font-family: var(--body-font);
  font-weight: var(--font-weight-black);
  font-style: normal;
}

/* --------------------------------- Layout --------------------------------- */
.container {
  max-width: 1024px;
  margin: 0 auto;
  padding: 0 var(--ms-1);
}

/* --------------------------------- Header --------------------------------- */
.header {
  background-color: var(--white-color);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 100;
  box-shadow: var(--box-shadow-1);
}

.nav {
  height: var(--header-height);
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: var(--font-weight-black);
}

.nav__toggle {
  display: none;
}
.nav__list {
  display: flex;
}
.nav__item {
  margin-left: var(--ms-3);
}
.nav__link {
  position: relative;
}
.active-link::after {
  position: absolute;
  height: 0.18rem;
  background-color: var(--primary-color);
  content: '';
  width: 100%;
  left: 0;
  top: 2rem;
}
.nav__link:hover {
  position: relative;
}
.nav__link:hover::after {
  position: absolute;
  height: 0.18rem;
  background-color: var(--primary-color);
  content: '';
  width: 100%;
  left: 0;
  top: 2rem;
}

/* ---------------------------------- Home ---------------------------------- */
.home {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: var(--ms-5);
  padding-bottom: var(--ms-5);
}
.home__title {
  font-size: var(--font-size-2);
  line-height: calc(var(--font-size-2) * 1.4);
  font-weight: var(--font-weight-bold);
  margin-bottom: var(--ms-3);
}
.home__title-color {
  color: var(--primary-color);
}
.home__img {
  border-radius: 2rem;
  width: 480px;
}
.home__social {
  margin-top: var(--ms-3);
}
.home__social-icon {
  margin-right: var(--ms-1);
  font-size: 1.5rem;
  transition: 0.3s;
}
.home__social-icon:hover {
  color: var(--primary-color);
}
/* --------------------------------- Button --------------------------------- */
.button {
  display: inline-block;
  background-color: var(--primary-color);
  color: white;
  padding: 0.75rem 1.75rem;
  font-weight: var(--font-weight-bold);
  border-radius: 0.5rem;
  transition: 0.3s;
}
.button:hover {
  box-shadow: var(--box-shadow-2);
}

/* --------------------------------- Section -------------------------------- */
.section {
  padding-top: 4rem;
  padding-bottom: 4rem;
}
.section__title {
  position: relative;
  font-size: var(--font-size-3);
  color: var(--primary-color);
  text-align: center;
  font-weight: var(--font-weight-bold);
  margin-bottom: var(--ms-5);
}
.section__title::after {
  position: absolute;
  content: '';
  width: 64px;
  height: 0.18rem;
  background-color: var(--primary-color);
  left: 0;
  right: 0;
  top: 3.5rem;
  margin: 0 auto;
}

.bg-grey-1 {
  background-color: #eee;
}

/* ---------------------------------- About --------------------------------- */
.about__container {
  display: flex;
  align-items: center;
  column-gap: 4rem;
}
.about__subtitle {
  font-size: var(--font-size-4);
  font-weight: var(--font-weight-bold);
  margin-bottom: var(--ms-1);
}
.about__text {
  line-height: 1.4rem;
}
.about__img {
  justify-self: center;
}
.about__img img {
  width: 300px;
  border-radius: 0.5rem;
}

/* --------------------------------- Skills --------------------------------- */
.skills__container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 3rem;
  align-items: center;
}
.skills__subtitle {
  font-size: var(--font-size-4);
  margin-bottom: var(--ms-1);
  font-weight: var(--font-weight-black);
}
.skills__text {
  line-height: 1.4rem;
}

.skills__data {
  box-shadow: var(--box-shadow-1);
  border-radius: 0.3rem;
  margin-top: var(--ms-1);
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  padding: 0.8rem 1rem;
  font-weight: var(--font-weight-bold);
  overflow: hidden;
  cursor: default;
}
.skills__names {
  display: flex;
  align-items: center;
}
.skills__icon {
  font-size: var(--font-size-4);
  margin-right: var(--ms-2);
  color: var(--primary-color);
}

.skills__img {
  border-radius: 0.5rem;
  width: 100%;
}

.skills__progress {
  position: absolute;
  left: 0;
  bottom: 0;
  appearance: none;
  height: 6px;
  width: 100%;
}
.skills__progress::-webkit-progress-bar {
  background: var(--white-color);
  border-radius: 12px;
  width: 100%;
  overflow: hidden;
}

.skills__progress::-webkit-progress-value {
  background: var(--primary-color);
  border-radius: 12px;
  width: 48px;
}
/* ---------------------------------- Work ---------------------------------- */
.work__container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1.5rem;
}

.work__link {
  border-radius: 1rem;
  overflow: hidden;
  box-shadow: var(--box-shadow-1);
}

.work__img {
  width: 100%;
  transition: 0.5s;
  display: block;
}
.work__img:hover {
  transform: scale(1.05);
}

/* --------------------------------- Contact -------------------------------- */
.contact__container {
  display: flex;
  justify-content: center;
}

.contact__form {
  width: 360px;
}

.contact__input {
  width: 100%;
  outline: none;
  border: 1.5px solid var(--dark-color);
  padding: 1rem;
  border-radius: 0.5rem;
  margin-bottom: var(--ms-1);
  font-size: var(--font-size-6);
  font-weight: var(--font-weight-bold);
}

.contact__button {
  margin-left: auto;
  display: block;
}

/* --------------------------------- Footer --------------------------------- */

.footer {
  background-color: var(--dark-color);
  color: var(--white-color);
  text-align: center;
  padding: 3rem 0;
  font-weight: var(--font-weight-bold);
}

.footer__title {
  font-size: 1.75rem;
  margin-bottom: var(--ms-4);
}
.footer__social {
  margin-bottom: var(--ms-4);
  display: flex;
  justify-content: center;
  column-gap: 2rem;
}
.footer__icon {
  font-size: 1.2rem;
}
.footer__copy {
  font-style: var(--font-size-6);
  font-weight: var(--font-weight-medium);
}
